.informationPage {
  &__wrapper {
    width: 100%;
    .keyboardVirtual {
      margin: 80px auto 40px;
    }
    .input-field > label {
      margin-top: -12px;
    }
  }
  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__Instruction {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    max-width: 840px;
    margin: auto;
    .btn-exit {
      background-color: #2185d0;
    }
    .btn-enter {
      background-color: #089434;
    }
  }
  &__Instruction-text{
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
  }
  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    .btn {
      width: 120px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__error-auth {
    color: red;
  }
}

.auth-active {
  display: block;
  color: #089434;
}
.no-auth {
  display: none;
}